[submodule "sources_non_forked/Auto-Pairs"]
	path = sources_non_forked/Auto-Pairs
	url = git://github.com/jiangmiao/auto-pairs
	shallow = true
[submodule "sources_non_forked/Tagbar"]
	path = sources_non_forked/Tagbar
	url = git://github.com/majutsushi/tagbar
	shallow = true
[submodule "sources_non_forked/vim-easymotion"]
	path = sources_non_forked/vim-easymotion
	url = git://github.com/easymotion/vim-easymotion
	shallow = true
[submodule "sources_non_forked/vim-go"]
	path = sources_non_forked/vim-go
	url = git://github.com/fatih/vim-go.git
